*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.4s;
}

ul li a {
  text-decoration: none;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.navbarContainer {
  display: flex;
}

.appHeading {
  padding-left: 1.5rem;
}

.mainAppContainer {
  padding-left: 1rem;
  padding-right: 1rem;
}
